
.filas_tabla tr{
    cursor: pointer;
}
.filas_tabla tr:hover{
    box-shadow: 0px 0px 3px #666;
}
.example-modal .modal {
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    display: block;
    z-index: 1;
}

.example-modal .modal {
    background: transparent !important;
}

.etiqueta{
    color: #fff;
    padding: 4px;
    font-size: 12px;
    text-align: center;
    border-radius: 4px;
    margin: 1px;
    display: inline-block;
    cursor: pointer;
}

.adjunto{
    font-style: italic;
    font-size: 11px;        
    padding: 5px;
    margin: 3px;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #666;
}

.fondo{
    background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.fondo2{
    background-image: url("../img/fondo2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.fondo3{
    background-image: url("../img/fondo3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.fondo4{
    background-image: url("../img/fondo4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}